<!DOCTYPE html>
<html>
<head>
  <title>Vifactory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Projekty", projects_path%>
<%= link_to "Sukcesy", success_path%>
<%= link_to "Forum", "http://student.agh.edu.pl/~knvif/forum/"%>
<%= link_to "O nas", about_path%>
<%= link_to "Kontakt", contact_path%>
<br><br>


<%= yield %>

</body>
</html>
